<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="amsi.dei.estg.ipleiria.pt.projeto">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- VOLLEY -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- VERIFICAR LIGAÇÃO À INTERNET -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- EMPREGADO -->
        <activity
            android:name=".e_main"
            android:screenOrientation="landscape" />
        <activity
            android:name=".e_pedidos"
            android:parentActivityName=".e_main"
            android:screenOrientation="landscape" />
        <activity
            android:name=".e_detalhesMensa"
            android:parentActivityName=".e_pedidos"
            android:screenOrientation="landscape" />
        <activity
            android:name=".e_notificacoes"
            android:parentActivityName=".e_main"
            android:screenOrientation="landscape" />
        <activity
            android:name=".e_faturacao"
            android:parentActivityName=".e_main"
            android:screenOrientation="landscape" />

        <!-- CLIENTE -->
        <activity android:name=".c_main" />
        <activity
            android:name=".c_itemListaementa"
            android:parentActivityName=".c_ementa" />
        <activity
            android:name=".c_ementa"
            android:parentActivityName=".c_main" />
        <activity
            android:name=".c_reservar_mesa"
            android:parentActivityName=".c_main" />
        <activity
            android:name=".c_contactos"
            android:parentActivityName=".c_main" />
        <activity
            android:name=".c_funcionalidades"
            android:parentActivityName=".c_main" />
        <activity
            android:name=".c_pedirbebida"
            android:parentActivityName=".c_funcionalidades" />
        <activity
            android:name=".c_lista_pedidos"
            android:parentActivityName=".c_funcionalidades" />
        <activity android:name=".e_reserva"></activity>
    </application>

</manifest>